[submodule "src/api_protocol"]
	path = src/api_protocol
	url = https://github.com/dcccloud/api_protocol.git
[submodule "src/agents/agent_memory"]
	path = src/agents/agent_memory
	url = https://github.com/kevinsunsh/agent_memory.git
[submodule "src_go/internal/agent/agent_memory"]
	path = src_go/internal/agent/agent_memory
	url = https://github.com/kevinsunsh/agent_memory.git
